<app-data-table
  [card]="false"
  title="Shortlist"
  subtitle="Applicants shortlisted for interview"
  [data]="applicants()"
  [loading]="loading()"
  [searchFields]="['name', 'nin', 'state']"
  [addLabel]="showApproval ? 'Approve' : null"
  addIcon="pi pi-check-circle"
  dataKey="applicationId"
  (add)="onApprove()"
>
  <ng-template #headerTpl>
    <tr>
      <th class="pl-6">No</th>
      <th>Applicant</th>
      <th>NIN</th>
      <th>Application Date</th>
      @if (showApproval) {
        <th>State</th>
      }
      <th>Status</th>
      <th class="text-center pr-6">Action</th>
    </tr>
  </ng-template>

  <ng-template #bodyTpl let-applicant let-rowIndex="rowIndex">
    <tr>
      <td class="pl-6">{{ rowIndex + 1 }}</td>
      <td>{{ applicant.name }}</td>
      <td>{{ applicant.nin }}</td>
      <td>{{ applicant.applicationDate }}</td>
      @if (showApproval) {
        <td>
          <p-tag [value]="applicant.state" [severity]="approvalStateSeverity(applicant.state)" />
        </td>
      }
      <td>
        <p-tag value="Shortlist" severity="success" />
      </td>
      <td class="text-center pr-6">
        <button
          type="button"
          (click)="onView(applicant)"
          class="flex items-center justify-center w-8 h-8 rounded-lg text-value hover:bg-row-b hover:text-heading transition-colors mx-auto"
          aria-label="View applicant"
          pTooltip="View"
          tooltipPosition="top"
        >
          <i class="pi pi-eye text-sm"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</app-data-table>
